<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	
</head>

<body>
    <div id="box" style="width:300px;height:400px;">
    <h1>Main data</h1>
    BL NO <input text value="" name ="bl_no" id="bl_no">
	<h1>Cntr Table1</h1>
    <table id="cntrdata" class="display" width="100%" >
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>cntr_no</th>
				<th>cntr_type</th>
            </tr>
        </thead>
        
    </table>

</div>
    <script>
 $(document).ready(function() {
     $('#cntrdata').DataTable({
        //"serverSide": true,
        //"bSort": true,
        scrollY: '400px',
        scrollCollapse: true,
        paging: false,
        searching: false,
       ordering:  false,
        "ajax": {
            "url": "/cntrno",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json; charset=utf-8",
            "dataSrc" : function (d){
                var data ;
                document.getElementById("bl_no").value = JSON.stringify(d[9].cntr_no);
                for(var i=0; i < d.length-1 ; i ++){
                    console.log(d[i].cntr_no);
                    data  = d[1];
                }
               // alert(JSON.stringify(d[9].cntr_no));
                return d;
            },
            "error": function (xhr, error, code) {
                alert(error + ' : ' + code);
            }
        },
        "columns": [
            {"data": "cntr_no"},
            {"data": "cntr_type"}
        ]
    });
        });
    </script>
</body>
</html>