<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <title>홈페이지</title>
</head>
<body>
    <h1>CNTR EXCEL INSERT</h1>
    <form id="frm">
    <div id="cntrList">
        <tr th:each="ordmstvo : ${ordmstvo}">
        <input type="text" id="hbl_no" th:value="${ordmstvo.hbl_no}"/>
        <input type="text" id =svc_type />
    </tr>

    <table>
        <thead>
            <tr>
                <th>CNTR NO </th>
                <th>CNTR TYPE</th>
            </tr>
        </thead>
            <tbody id ="cntr_data">
             <tr th:each="ordcntr : ${ordcntrvo}">
                <td th:text ="${ordcntr.cntr_no}"></td>
                <td>테스트 제목 입니다.</td>
            </tr> 
        </tbody>
    </table>
</div>


</form>
<!-- <form th:action="@{/excel/read}" method="POST" enctype="multipart/form-data">
    <input type="file" th:name="file1">
    <input th:type="submit" value="ACTION EXCEL 제출" />
</form> -->


<form id="upload-file-form">
    <input type="text" name="extra">
    <label for="upload-file-input">Upload your file:</label>
    <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
    <button type="button" onclick="uploadFile();">업로드</button>
  </form>

<button type="button" onclick="getSelect()">조회하기 </button>

<button type="button" onclick="getSave()">저장하기  </button>

</body>
<script type="text/javascript">
function uploadFile() {
  $.ajax({
    url: "/excel/read",
    type: "POST",
    data: new FormData($("#upload-file-form")[0]),
    enctype: 'multipart/form-data',
    processData: false,
    contentType: false,
    cache: false,
    success: function (result) {
      // Handle upload success
      // ...
      alert("ABC");
      $("#cntrList").replaceWith(result);
    },
    error: function () {
      // Handle upload error
      // ...
      $("#cntrList").replaceWith(result);
    }
  });
}
    function getSelect() {
        alert("ABC");
        $.ajax({
            type: "POST",
            url: "/excel/cntrs",
            // data: form, // api 호출을 위한 요청 변수가 필요하다면 사용해주세요.
            dataType: "text"
        })
            .done(function (result) {
                console.log(result);
                $("#cntrList").replaceWith(result);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            })
            .always(function() {
                console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
            })
    }

    function getSave() {
        var hbl_no = $("#hbl_no").val();
        var svc_type = $("#svc_type").val();
       var cntr_table="";
        var rows = document.getElementById("cntr_data").getElementsByTagName("tr");
          console.log(rows.length);	// tbody tr 개수 = 2
   // tr만큼 루프돌면서 컬럼값 접근
   for( var r=0; r<rows.length; r++ ){
      var cells = rows[r].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data;		// 이름
      var cell_2 = cells[1].firstChild.data;		// 나이
 
      //console.log(cell_1);	// 홍길동, 김영희
      //console.log(cell_2);	// 23, 25
      cntr_table = cntr_table + cell_1 +","+cell_2+"&nbsp";
    }

    var param = {"hbl_no":hbl_no, "svc_type":svc_type,"cntr_table":cntr_table}
    alert(cntr_table);
        $.ajax({
            type: "POST",
            url: "/cntrs",
             data: param, // api 호출을 위한 요청 변수가 필요하다면 사용해주세요.
            dataType: "text"
        })
            .done(function (result) {
                console.log(result);
                alert("success");
               // $("#cntrList").replaceWith(result);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            })
            .always(function() {
                console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
            })
    }

</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
</html>